* {
    box-sizing: border-box;
}

body {
    background-color: #002244;
    font-family:'Courier New', Courier, monospace;
    width: auto;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#mainHeader {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    color: #A5ACAF;
    
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}
#boxes {
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-block;
}

.one {
    width: 20%;
    height: 30px;
    background-color: #b1e5ff;
    display: inline-block;
}

.two {
    width: 20%;
    height: 30px;
    background-color: #e5af45;
    display: inline-block;
}
.three {
    width: 20%;
    height: 30px;
    background-color: #8c6ecc;
    display: inline-block;
}
.four {
    width: 20%;
    height: 30px;
    background-color: #c5ffba;
    display: inline-block;
}
.five {
    width: 20%;
    height: 30px;
    background-color: #eef670;
    display: inline-block;
}
.six {
    width: 20%;
    height: 30px;
    background-color: #f291b4;
    display: inline-block;
}
.dice-container {
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    position: relative;
}
div {
    flex-grow: 1;
} 
.dice {
    width: 40%;
    height: 500px;
}

.prompts {
    background-color: aliceblue;
    width: 75%;
    height: 100%;
    
}

.prompts p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-container {
    width: 100%;   
}
.button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.change-dice {
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: grey;
    border-radius: 10%;

}
.change-dice:hover {
    background-color: white;
}
#navigation {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 0px;
}

#navigation li {
    display: inline;
    color: #000;
    font-weight: bold;
    margin-right: 2%;
}

#navigation a {
    color: #A5ACAF;
    text-decoration: none;
}
#navigation a:hover{
    color: #69BE28;
}


/*
#
# About SeaMi page
#
*/

#sectionOne, #sectionTwo {
    width: 100%;
    display: inline-flex;
    height: auto;
}
.cityImage {
    display: inline-flex;
    width: 40%;
    height: 20em;
    background-color: white;
}
.city {
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.seami {
    display: inline-flex;
    width: 55%;
    height: 20em;
    background-color: #69BE28;
}

.footer {
    border-top: 1px solid white;
    width: 100%;
    height: 5em;
    margin-top: 1em;
}

/*
#
# Contact Us Page
#
*/

#contact {
    width: 100%;
    display: inline-flex;
    height: auto;
}
.form {
    margin: auto;
    width: 81.5%;
    height: 35em;
    background: #69BE28;
}